.mobile-menu{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9990;
    background: #F5EBE1;
    transform: translateX(-100%);
    opacity: 0;
    visibility: visible;
    transition: all .3s ease-in-out;
    padding-top: 11rem;

    @media (min-width: 0px) and (max-width: 767px){
        padding-top: 6.5rem;
    }

    @media (min-width: 1200px){
        display: none !important;
    }

    & > .container,
    & > .container > .row{
        height: 100%;
    }

    .mobile-menu-wrap{
        flex: 0 0 100%;
        max-width: 597px;
    }

    .main-menu-item-wrap {
        display: flex;
        align-items: center;
        @media (min-width: 0px) and (max-width: 767px){
            margin-bottom: 1rem;
        }
        @media (min-width: 768px) and (max-width: 1199px){
            margin-bottom: 2rem;
        }
        a{
            display: block;
            @media (min-width: 0px) and (max-width: 767px){
                font-size: 1.875rem;
                line-height: 2.25rem;
            }
            @media (min-width: 768px) and (max-width: 1199px){
                font-size: 2rem;
                line-height: 2.5rem;
            }
        }
    }

    .mob-submenu{
        max-height: 0;
        height: auto;
        margin-bottom: 0;
        overflow: hidden;
        transition: max-height .3s ease-in-out;
        li{
            padding: 5px 0px;
        }
    }

    button.btn-sub {
        width: 36px;
        height: 36px;
        margin-left: 0.5rem;
        line-height: 2rem;
        top: 0.2rem;
        position: relative;
        -webkit-appearance: none;
        border: 0;
        background: none;
        transition: transform .3s ease-in-out;
        position: relative;
        top: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mob-menu-item{
        &.open{
            .mob-submenu{
                max-height: 20em;
                @media (min-width: 0px) and (max-width: 767px){
                    margin-bottom: 0.5rem;
                }
                @media (min-width: 768px) and (max-width: 1199px){
                    margin-bottom: 2rem;
                }
            }
            button.btn-sub{
                transform: scaleY(-1);
            }
        }
    }

    &, a{
        color: #191919;
        text-decoration: none;
    }
    .container{
        position: relative;
        z-index: 5;
    }
    &:after{
        content: '';
        transform: skew(0deg, -3.2deg);
        position: absolute;
        top: -50px;
        width: 100%;
        height: 490px;
        z-index: 1;
        background: #F5EBE1;
    }
    .illustrations{
        justify-content: center;
        display: flex;
        right: 0;
        margin-top: 2rem;
        
        @media (min-width: 0px) and (max-width: 767px){
            bottom: 5.5rem;
            left: 8rem;
        }
        @media (min-width: 768px) and (max-width: 1199px){
            bottom: 10rem;
            position: absolute;
        }

        img{
            width: auto;
            height: 100%;
            
            @media (min-width: 0px) and (max-width: 767px){
                min-height: 154px;
                max-height: 154px;
            }
            @media (min-width: 768px) and (max-width: 1199px){
                min-height: 180px;
                max-height: 180px;
            }
        }
        .img{
            position: relative;
        }
        .illu-1{
            right: 1rem;
            
            @media (min-width: 0px) and (max-width: 767px){
                top: 4rem;
            }
            @media (min-width: 768px) and (max-width: 1199px){
                top: 6rem;
            }
        }
        .illu-2{
            top: 1rem;
            @media (min-width: 0px) and (max-width: 767px){
                max-height: 99px;
            }
        }
    }

    .btn-wrap{
        margin-top: 0;
        text-align: center;
        display: block;
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: 22px;
        margin-right: 22px;
        margin-bottom: 22px;
        margin-top: 4.5rem;
        @media (min-width: 768px){
            display: none;
        }
        .btn{
            width: 100%;
        }
    }

    .mm-menu-main-item{
        font-size: 0.75rem;
        line-height: 1rem;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
    .mm-submenu-row{
        margin-top: 2rem;
    }
    .mm-sub-items{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            a{
                font-size: 1.5rem;
                line-height: 2rem;
                text-decoration: none;
            }
        }
    }
}


.mob-btn-wrap{
    width: 40px;
    height: 40px;
    flex: 0 0 40px;
    position: relative;
    background: white;
    border-radius: 100%;
    border: 0;
    cursor: pointer;
    margin-left: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 9px 0px;
    transition: all .3s ease-in-out;
    @media (min-width: 0px) and (max-width: 1199px){
        display: block;
    }
    @media (min-width: 1200px){
        display: none;
    }
    &:before,
    &:after,
    span{
        content: '';
        transition: all .3s ease-in-out;
        display: block;
        position: relative;
        width: 20px;
        height: 2px;
        border-radius: 6px;
        margin: 4px auto;
        background: #191919;
    }
}



.mob-open{
    height: 100%;
    width: 100%;
    .mobile-menu{
        visibility: visible;
        opacity: 1;
        transform: translateX(0%);
        overflow-y: auto;
        @media screen and (orientation:landscape) {
            overflow-y: scroll;
        }
    }
    &.sticky-menu {
        header {
            @media (min-width: 0px) and (max-width: 767px){
                padding: 1.75rem 0;
            }
            @media (min-width: 768px){
                padding: 2rem 0;
            }
        }
    }
    header{
        z-index: 9999;
        background: none;
        margin-top: 0;
        background: #f5ebe1;
        padding: 2rem 0;
        @media screen and (orientation:landscape) {
            margin-top: 0;
            background: #f5ebe1;
            padding: 2rem 0;
        }
        @media (min-width: 0px) and (max-width: 575px){
            padding-top: 1.4rem;
        }
        @media (min-width: 576px) and (max-width: 767px){
            padding-top: 0.5rem;
        }
        @media (min-width: 768px) and (max-width: 1024px){
            padding-top: 2rem;
        }
        @media (min-width: 1025px){
            padding-top: 3rem;
        }
        .col-logo{
            .logo-white{
                opacity: 0;
                visibility: hidden;
                display: none;
            }
            .logo-dark{
                opacity: 1;
                visibility: visible;
                display: block;
            }
        }
    }
    .mob-btn-wrap{
        background: #191919;
        &:before,
        &:after,
        span{
            background: #F5EBE1;
        }
        &:before{
            transform: rotateZ(45deg);
            top: 6px;
        }
        &:after{
            transform: rotateZ(-45deg);
            bottom: 6px;
        }
        span{
            transform: translateX(-10px);
            opacity: 0;
            visibility: hidden;
        }
    }
    .btn.btn-fill {
        color: white;
        background: #191919;
        span.in{
            color: white;
            background: #191919;
        }
        span.out{
            color: #191919;
            background: white;
        }
    }
}

.mob-open-overflow{
    position: fixed;
    overflow: hidden;
}
