.body-only-content {
  h4 {
    font-family: Larsseit,sans-serif;
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 400;
  }
}
.img-text-wrap .info h3.title-first-row {
  margin-bottom: 0;
}