.jobs-grid {
    position: relative;
    align-items: center;
    @media (min-width: 0px) and (max-width: 767px){
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;
    }
    @media (min-width: 768px){
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }
    
    &:before {
        content: '';
        width: calc(100% - 24px);
        height: 1px;
        background-color: #191919;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    p {
        margin: 0;
        
        @media (min-width: 0px) and (max-width: 767px){
            font-size: 1rem;
            line-height: 1.5rem;
        }
        @media (min-width: 768px){
            font-size: 1.125rem;
            line-height: 1.5rem;
        }
    }
    .jobs-grid-title {
        font-weight: bold;
        @media (min-width: 0px) and (max-width: 767px) {
            font-size: 0.88rem;
            margin-bottom: 1rem;
        }
        @media (min-width: 768px) and (max-width: 1024px) {
            font-size: 1rem;
        }
        @media (min-width: 1025px) {
            font-size: 1.125rem;
            margin-bottom: 0;
        }
    }
    .job-middle-column {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .split-equal {
            flex: 0 0 50%;
            max-width: 50%;
            padding-left: 1rem;
            @media (min-width: 0px) and (max-width: 767px) {
                border-right: 1px solid #191919;
            }
            &:first-of-type {
                padding-right: 1rem;
                padding-left: 0;
            }
            &:last-of-type {
                border-right: 0;
            }
        }
    }
    .job-last-column {
        text-align: right;
        @media (min-width: 768px) {
            padding-bottom: 2rem;
        }
    }
    .job-first-column {
        padding-bottom: 2rem;
    }
    .btn-arrow {
        font-family: Larsseit,sans-serif;
        vertical-align: middle;
    }
}