.btn-arrow{
    display: block;
    color: white;
    border: 1px solid white;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    transform: translateZ(0);
    overflow: hidden;
    backface-visibility: hidden;
    @media (min-width: 768px) {
        min-height: 40px;
        min-width: 150px;
        width: auto;
        height: auto;
        border-radius: 35px;
    }
    img{
        width: 24px;
        height: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    &:before{
        content: '';
        background: white;
        transform: translateY(100%);
        z-index: 1;
    }
    span{
        text-align: center;
        z-index: 2;
        line-height: 38px;
        -webkit-backface-visibility: hidden;
        &.out{
            transform: translateY(100%);
            color: #191919;
        }
    }
    &:before, span{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &:before{
        transition: all .4s cubic-bezier(0.640, -0.095, 0.295, 1.065);;
    }
    .in{
        transition: all .5s cubic-bezier(0.640, -0.095, 0.295, 1.065);;
    }
    .out{
        transition: all .6s cubic-bezier(0.640, -0.095, 0.295, 1.065);;
    }

    &:hover{
        &:before, .out{
            transform: translateY(0%);
        }
        .in{
            transform: translateY(-100%);
        }
    }
    &.btn-fill{
        color: #191919;
        background: white;
        border: 0px;
        &:before{
            background: #191919;
        }
        span{
            &.out{
                color: white;
            }
        }
    }
    
    &.btn-dark{
        color: white;
        border: 0px;
        &:before{
            background: white;
        }
        span{
            &.in{
                background: #191919;
            }
            &.out{
                color: #191919;
            }
        }
    }
    &.btn-fill-dark{
        color: #191919;
        background: white;
        &:before{
            background: #191919;
        }
        span{
            &.out{
                color: white;
            }
        }
    }
    .mob-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        @media (min-width: 768px) {
            display: none;
        }
    }
    .desktop-arrow {
        display: none;
        @media (min-width: 768px) {
            display: block;
        }
    }
    &.back-btn{
        border: none!important;
        min-width: 32px!important;
        min-height: 32px!important;
        .desktop-arrow{
            display: none!important;
        }
        .mob-arrow{
            display: block!important;
            img{
                transform: rotate(180deg);
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
            &.out{
                transform: none!important;
                background: white!important;
            }
            &.in{
                transform: translateY(100%)!important;
            }
        }
        &:hover{
            .in{
                transform: translateY(0%)!important;
            }
            .out, &:before{
                transform: translateY(-100%)!important;
            }
        }
    }
}


