.section-mask-wrap-divider-get-a-demo {
	position: absolute;
  width: 100%;
  height: auto;
  z-index: 9999;
  margin-top: -119px;
	@media (min-width: 0px) and (max-width: 374px) {
    margin-top: -61px;
  }
	@media (min-width: 375px) and (max-width: 424px) {
    margin-top: -64px;
  }
	@media (min-width: 425px) and (max-width: 767px) {
    margin-top: -49px;
  }
	@media (min-width: 992px) and (max-width: 1023px) {
    margin-top: -126px;
  }
	@media (min-width: 1024px) and (max-width: 1399px) {
    margin-top: -90px;
  }
	&.top-right{
		transform: scale(-1,-1);
	}
	&.top-left{
		transform: scale(1,-1);
	}
	&.bottom-right{
		transform: scale(-1,1);
	}
	&.bottom-left{
		transform: scale(1,1);
		&.invert{
			top: 6px;
		}
	}
	.divider{
		position: relative;
		width: 100%;
		height: 100%;
		left: 0;
		top: -2px;
	}
	&.home-rq-demo{
		z-index: 30;
	}
	&.home-wgb{
		z-index: 90;
		margin-top: -45rem;
		@media (min-height: 700px){
			margin-top: -45rem;
		}
		@media (min-width: 768px) and (max-width: 991px){
			margin-top: -55rem;
		}
		@media (min-width: 992px) and (max-width: 1024px){
			margin-top: -55rem;
		}
		@media (min-width: 1025px){
			margin-top: -45rem;
		}
		
		@media (min-width: 1800px){
			margin-top: -65rem;
		}
	}
	&.logos-tables-divider {
		z-index: 1;
		margin-top: -17%;
		@media (max-width: 450px) and (max-height: 800px){
			margin-top: -50%;
		}
		@media (max-width: 450px) and (min-height: 800px) and (max-height: 1200px){
			margin-top: -40%;
		}
		@media (max-width: 450px) and (min-height: 1200px) {
			margin-top: -10%;
		}


		@media (min-width: 450px) and (max-width: 750px) and (max-height: 800px){
			margin-top: -15%;
		}
		@media (min-width: 450px) and (max-width: 750px) and (min-height: 800px) and (max-height: 1200px){
			margin-top: -30%;
		}
		@media (min-width: 450px) and (max-width: 750px) and (min-height: 1200px) {
			margin-top: -5%;
		}


		@media (min-width: 750px) and (max-width: 900px) and (max-height: 800px){
			margin-top: -30%;
		}
		@media (min-width: 750px) and (max-width: 900px) and (min-height: 800px) and (max-height: 1200px){
			margin-top: -20%;
		}
		@media (min-width: 750px) and (max-width: 900px) and (min-height: 1200px) {
			margin-top: -5%;
		}


		@media (min-width: 900px) and (max-width: 991px) and (max-height: 800px){
			margin-top: -35%;
		}
		@media (min-width: 900px) and (max-width: 991px) and (min-height: 800px) and (max-height: 1200px){
			margin-top: -30%;
		}
		@media (min-width: 900px) and (max-width: 991px) and (min-height: 1200px) {
			margin-top: -10%;
		}


		@media (min-width: 991px) and (max-width: 1400px) and (max-height: 600px){
			margin-top: -25%;
		}
		@media (min-width: 991px) and (max-width: 1400px) and (min-height: 600px) and (max-height: 800px){
			margin-top: -15%;
		}
		@media (min-width: 991px) and (max-width: 1400px) and (min-height: 800px) and (max-height: 1300px){
			margin-top: -10%;
		}
		@media (min-width: 991px) and (max-width: 1400px) and (min-height: 1300px) {
			margin-top: -5%;
		}

		@media (min-width: 1400px) and (max-height: 600px){
			margin-top: -15%;
		}
		@media (min-width: 1400px) and (min-height: 600px) and (max-height: 800px){
			margin-top: -20%;
		}
		@media (min-width: 1400px) and (min-height: 800px) and (max-height: 1300px){
			margin-top: -10%;
		}
		@media (min-width: 1400px) and (min-height: 1300px) {
			margin-top: -10%;
		}
	}
}

.open-roles{
	.section-mask-wrap-divider.bottom-left{
		display: none;
	}
}