.ui-card {
  position: relative;
  width: 369px;
  height: 480px;
  background: #fbfcfd 0% 0% no-repeat padding-box;
  opacity: 1;
  cursor: pointer;

  & .ui-card-image {
    width: 100%;
    min-height: 230px;
    object-fit: cover;
  }

  & .item-industry {
    font-family: Larsseit;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
  }

  & .item-title {
    font-family: WunderBrickText;
    font-size: 1.8rem;
    line-height: 2.3rem;
  }

  & .arrow-container {
    position: absolute;
    top: 448px;
    left: 48px;
    transform: translate(-50%, -50%);
  }
}
