.fly-out-filter {
  background-color: white;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 99999;
  color: #191919;
  padding: 30px 25px;
  transition: transform 0.5s ease;
  transform: translateX(0%);
  @media (min-width: 768px) {
    width: 489px;
  }
  &.hide-fly-filter {
    transform: translateX(100%);
  }
  .fly-out-filter-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 22px;
  }
  .fly-out-filter-options {
    max-height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 15px;
  }
  .filter-title {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
  }
  .filter-divider {
    position: relative;
    left: -25px;
    right: -25px;
    width: calc(100% + 50px);
    border: 0;
    margin: 0;
    border-bottom: 1px solid #d6d6d6;
  }
  .clear-filter {
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 1.16px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    padding: 1rem 0;
    margin: 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #191919;
    font-family: "Larsseit", sans-serif;
  }
  .filter-name-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .toggle-display {
    cursor: pointer;
    display: inline-flex;
    outline: none;
    img {
      width: 16px;
      height: 16px;
    }
  }
  .filter-item-title {
    font-size: 1rem;
    padding: 1rem 0;
    line-height: 1.5rem;
    display: inline-block;
    font-weight: 700;
  }
  .filter-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #d6d6d6;
    padding: 1rem 0;
    padding-left: 2rem;
    .filter-label {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
  .btn-apply {
    margin-top: 2rem;
  }
}
.hide-filter {
  display: none !important;
}
