.section-problem-solution {
  background: #f5ebe1;
  color: #191919;
  padding: 10.93% 0;
  @media (min-width: 1200px) {
    padding: 130px 0;
  }

  .content-container-wrapper {
    display: flex;
    flex-direction: column;
    gap: 22px;
    @media (min-width: 768px) {
      gap: 39px;
    }
    @media (min-width: 1200px) {
      gap: 60px;
    }
  }

  .content-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (min-width: 768px) {
      gap: 20px;
    }
    @media (min-width: 1200px) {
      gap: 23px;
    }
  }

  .custom-row {
    align-items: center;
    h3 {
      font-size: 23px;
      @media (min-width: 768px) {
        font-size: 38px;
      }
      @media (min-width: 1200px) {
        font-size: 48px;
      }
    }
  }

  .arrow {
    margin-right: 30px;
    position: relative;
    width: 22px;
    height: 22px;
    margin-right: 11.41px;
    margin-top: 2px;
    @media (min-width: 768px) {
      width: 36px;
      height: 36px;
      margin-right: 20px;
    }
    @media (min-width: 1024px) {
      margin-right: 24px;
    }
    @media (min-width: 1440px) {
      margin-right: 40.43px;
    }
  }

  .custom-content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (min-width: 768px) {
      gap: 30px;
    }
    @media (min-width: 1024px) {
      margin-left: 4rem;
    }
    @media (min-width: 1440px) {
      margin-left: 77px;
      gap: 45px;
    }
  }
  .content-title {
    p {
      margin: 0;
    }
  }

  .content-image {
    width: fit-content;
  }

  .psrImage {
    width: 100%;
  }
}
