.plx-we-get-results{
    position: relative;
    z-index: 80;
    background: #3d55cc;
    top: -2px;

    height: auto;
    max-height: 100%;
    
    @media (min-width: 0px) and (max-width: 350px){
        padding-bottom: 58rem;
    }
    @media (min-width: 351px) and (max-width: 767px){
        padding-bottom: 60rem;
    }
    @media (min-width: 768px){
        padding-bottom: 55rem;
    }
    
    @media (min-width: 1800px){
        padding-bottom: 75rem;
    }

    .wgr-wrap{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .percent{
        color: #cc9967;
    }
    .line{
        width: 0%;
        opacity: 0;
        height: 1px;
        max-width: 370px;
        background: white;
        @media (min-width: 0px) and (max-width: 767px){
            margin: 1.5rem 0 0rem 0
        }
        @media (min-width: 768px){
            margin: 2rem 0 0.5rem 0;
        }
    }
    .wgr-revenue{
        position: relative;
        padding-left: 10%;
        padding-top: 90vh;
        z-index: 10;
        .percent{
            line-height: 80%;
            
            @media (min-width: 0px) and (max-width: 767px){
                font-size: 7.5rem;
            }
            @media (min-width: 768px) and (max-width: 1199px){
                font-size: 17.5rem;
            }
            @media (min-width: 1200px){
                font-size: 31.25rem;
            }

        }
    }
    
    .wgr-opt-ins {
        position: relative;
        z-index: 10;
        @media (min-width: 0px) and (max-width: 767px){
            margin-top: 4.3rem;
        }
        @media (min-width: 768px) and (max-width: 1024px){
            margin-top: 14rem;
        }
        @media (min-width: 1025px){
            margin-top: 7rem;
        }
        .small-percents{
            position: relative;
            
            @media (min-width: 0px) and (max-width: 767px){
                width: 70%;
                top: 5vh;
                left: 26%;
            }
            @media (min-width: 768px) and (max-width: 1024px){
                top: -20vh;
            }
            @media (min-width: 1025px){
                top: -10vh;
            }
            .percent{
                @media (min-width: 0px) and (max-width: 767px){
                    font-size: 7.5rem;
                    line-height: 5.5rem;
                }
                @media (min-width: 768px) and (max-width: 1024px){
                    font-size: 11.25rem;
                    line-height: 6.5rem;
                }
                @media (min-width: 1025px){
                    font-size: 15.625rem;
                    line-height: 14rem;
                }
            }
            .line{
                width: 0%;
            }
        }
        .small-content{
            max-width: 490px;
            margin-left: 1.5rem;
            opacity: 0;
            @media (min-width: 768px) and (max-width: 1024px){
                margin-left: 2.25rem;
            }
            
            @media (min-width: 1200px){
                position: relative;
                margin-left: 4.5rem;
            }
            .text {
                margin-bottom: 2rem;
            }
        }
        .wgr-growth{
            @media (min-width: 0px) and (max-width: 767px){
                margin-top: 10vh;
                left: 5%;
            }
            @media (min-width: 768px){
                margin-top: 20vh;
            }
            .text{
                white-space: pre;
            }
        }
    }

    .btn{
        font-size: 1rem;
        min-height: 40px;
    }

    .wgr-revenue,
    .small-percents{
        .text{
            opacity: 0;
        }
    }

    .text{
        font-size: 1.125rem;
    }

}