.kpis {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  
  @media (min-width: 0px) and (max-width: 767px){
    margin-top: 2rem;
    margin-bottom: 2.5rem;
  }
  @media (min-width: 768px) and (max-width: 1024px){
    margin-bottom: 4rem;
  }
  @media (min-width: 1025px){
    
  }
  
  @media (min-width: 768px) and (max-width: 1024px){
    margin-top: 3rem;
  }

  .kpi {
    color: #191919;
    padding: 1rem 0;

    
    @media (min-width: 0px) and (max-width: 1024px){
      flex: 0 0 47.5%;
    }
    @media (min-width: 1025px){
      flex: 0 0 100%;
    }
 
    .kpi-number {
      font-size: 2rem;
      line-height: 40px;
      font-weight: 400;
    }

    .kpi-name {
      font-size: 0.875rem;
      line-height: 24px;
      font-weight: 700;
    }
  }
}

.brand-quote-box {
  .kpis {
    .kpi {
      color: #ffffff;
      border-bottom: solid 1px rgba(255, 255, 255, .3);
    }
  }
}

@media(min-width: 768px){
  .kpis {
    .kpi {
      border-bottom: solid 1px rgba(25, 25, 25, .3);

      .kpi-number {
        font-size: 4.5rem;
        font-weight: 500;
        line-height: 72px;
        padding: 1rem 0;
      }

      .kpi-name {
        font-size: 1rem;
        font-weight: 700;
        line-height: 24px;
        padding-bottom: .5rem;
      }
    }
  }
}

@media(min-width: 1440px){
  .kpis {
    flex-direction: column;

    .kpi {
      border-bottom: solid 1px rgba(25, 25, 25, .3);

      .kpi-number {
        font-size: 5.5rem;
        line-height: 96px;
        padding: 1rem 0;
      }

      .kpi-name {
        font-size: 1.5rem;
        line-height: 32px;
        padding-bottom: .5rem;
      }
    }
  }
}
