.bot-wrapper {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: #191919;
}

.bot-container {
    max-width: 1195px;
    margin: 0 auto;
}